/* Generale */
body {
  font-family: Arial, sans-serif;
  background-color: var(--paletteNeautral95);
  color: #333;
  margin: "0";
  padding: "0";
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
}

.navbar-left h1 {
  color: brandHeader;
  margin: "0";
}

.navbar-center {
  flex-grow: 1;
  text-align: center;
}

.navbar-center ul {
  list-style-type: none;
  margin: "0";
  padding: "0";
  display: flex;
  justify-content: center;
}

.navbar-center ul li {
  margin: "0" 15px;
}

.navbar-center ul li a {
  color: brandHeader;
  text-decoration: none;
  font-size: 18px;
  transition: text-decoration 0.3s ease;
}

.navbar-center ul li a:hover {
  text-decoration: underline;
}

/* Corpo principale */
main {
  margin: 20px;
}

section {
  background-color: brandHeader;
  padding: 20px;
  border-radius: 5px;
}

/* Footer */
footer {
  background-color: #333;
  color: brandHeader;
  padding: 10px;
  text-align: center;
}
